:root {
  --text-color: rgb(48, 150, 99);
	--border-color: rgba(130, 128, 128, 0.75);
  --font-size: 16px;
	--font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: hsla(0, 3%, 94%, 0.5);
	min-width: 1200px;
	height: 100%; /* change height to view height?! */
}

/* ---- header ---- */

.outer-border{
	border: 3px solid;
	border-color: var(--border-color);
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.9);
	margin: 20px 5% 40px 5%;
	padding: 40px 40px;
	text-align: center;
}

.main-title{
	font-family: var(--font-family);
	color: var(--text-color);
	text-align: center;
}

.nav-links{
	list-style-type: none;
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-top: 50px;
}

.nav-links li{
	text-decoration: none;
	text-align: center;
	width: fit-content;
}

.nav-links li a{
	text-decoration: none;
	font-family: var(--font-family);
	color: var(--text-color);
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	font-size: 16px;
	transition: 0.5s ease;
}

.nav-links li a:hover{
	color: cyan;
}

.link-active{
	text-decoration: underline !important;
	text-decoration-color: cyan !important;
	text-decoration-thickness: 2px !important;
	text-underline-offset: 8px !important;
}

/* ---- main ---- */
.welcome-message,
.last-login-message{
	color: var(--text-color);
	text-transform: uppercase;
	font-family: var(--font-family);
}

.welcome-message{
	text-transform: uppercase;
	font-size: 20px;
}

.last-login-message{
	font-size: 12px;
	margin-top: 30px;
}

.delete-message{
	font-family: var(--font-family);
	font-size: 16px;
	margin-top: 20px;
}

.page-titles{
	color: var(--text-color);
	font-family: var(--font-family);
}

.column-selector,
.radio-inputs,
.list-button,
.save-button,
.cancel-button
{
	margin-top: 20px;
	font-family: var(--font-family);
}

.radio-inputs{
	display: flex;
	gap: 30px;
	justify-content: center;
}

.list-button,
.save-button,
.cancel-button
{
	color: var(--text-color);
	width: 90px;
	padding: 3px 0px;
	border: 1px solid;
	border-color: var(--text-color);
	border-radius: 25px;
	background-color: rgba(0, 255, 255, 0.50);
	font-size: 16px;
	cursor: pointer;
	transition: 0.5s ease;
}

.list-button:hover,
.save-button:hover,
.cancel-button:hover{
	background-color: rgba(0, 255, 255, 0.25);
}

.save-button{
	margin-right: 20px;
}

table, th, td{
	border: 3px dashed rgb(42, 102, 102);
	border-collapse: collapse;
}

table{
	font-family: var(--font-family);
	width: 100%;
	margin-top: 40px;
}

.name-column{
	width: 70%;
}

th{
	color:rgb(10, 77, 77);
}

td{
	color: var(--text-color);
}

tr{
	height: 35px;
	pointer-events: none;
	transition: 0.5s ease;
}

tr:nth-child(even){
	background-color: rgba(0, 255, 255, 0.15);
}

.search-form{
	font-family: var(--font-family);
	text-align: center;
	margin-top: 15px;
}

.search-form input[type="number"],
.search-form input[type="text"]{
	text-align: center;
	border: 2px solid grey;
	border-radius: 5px;
	width: 175px;
	height: 20px;
}

.product-registered-message{
	font-family: var(--font-family);
	color: var(--text-color);
	text-align: center;
	margin-top: 40px;
}

.edict-button{
	color: var(--text-color);
	width: 60px;
	padding: 2px 0px;
	border: 1px solid;
	border-color: var(--text-color);
	border-radius: 25px;
	background-color: rgba(0, 255, 255, 0.50);
	font-size: 12px;
	cursor: pointer;
	transition: 0.5s ease;
	pointer-events: auto;
}

.edict-button:hover{
	background-color: white;
}

tr:hover{
	background-color: rgba(0, 255, 255, 1);
}


/* ---- footer ---- */

footer{
	font-family: var(--font-family);
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 10px;

}

footer a{
	color: var(--text-color);
	font-size: 12px;
	text-decoration: none;
}


