:root {
  --text-color: rgb(48, 150, 99);
	--border-color: rgba(130, 128, 128, 0.75);
  --font-size: 16px;
	--font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: hsla(0, 3%, 94%, 0.5);
	min-width: 1250px;

	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
}

main{
	flex: 1;
}

/* ---- header ---- */

.outer-border{
	border: 3px solid;
	border-color: var(--border-color);
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.9);
	margin: 20px 5% 40px 5%;
	padding: 40px 40px;
	text-align: center;
}

.main-title{
	font-family: var(--font-family);
	color: var(--text-color);
	text-align: center;
}

.index-image{
	text-align: center;
	margin-top: 35px;
}

.index-image img{
	height: 150px;
}

.login-form-div{
	margin-top: 20px;
}

.login-text{
	font-family: var(--font-family);
	color: black;
}

.login-input{
	font-family: var(--font-family);
	color: black;
	height: 25px;
	width: 150px;
	border: 2px solid;
	border-color: var(--border-color);
	border-radius: 5px;
	padding: 0px 5px;
}

.login-button{
	color: var(--text-color);
	width: 90px;
	padding: 3px 0px;
	border: 1px solid;
	border-color: var(--text-color);
	border-radius: 25px;
	background-color: transparent;
	font-size: 16px;
	cursor: pointer;
	transition: 0.5s ease;
}

.login-button:hover{
	background-color: var(--text-color);
	color: white;
}

.login-message{
	margin-top: 10px;
	font-family: var(--font-family);
	color: red;
}

.guest-credentials{
	font-family: var(--font-family);
	margin-top: 30px;
}

.nav-links{
	list-style-type: none;
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-top: 50px;
}

.nav-links li{
	text-decoration: none;
	text-align: center;
	width: fit-content;
}

.nav-links li a{
	text-decoration: none;
	font-family: var(--font-family);
	color: var(--text-color);
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	font-size: 16px;
	transition: 0.5s ease;
}

.nav-links li a:hover{
	color: cyan;
}

.link-active{
	text-decoration: underline !important;
	text-decoration-color: cyan !important;
	text-decoration-thickness: 2px !important;
	text-underline-offset: 8px !important;
}

/* ---- main ---- */
.welcome-message,
.last-login-message{
	color: var(--text-color);
	text-transform: uppercase;
	font-family: var(--font-family);
}

.welcome-message{
	text-transform: uppercase;
	font-size: 28px;
}

.last-login-message{
	font-size: 16px;
	margin-top: 30px;
}

.disclaimer{
	font-family: var(--font-family);
	font-size: 14px;
	margin-top: 40px;
}

.delete-message{
	font-family: var(--font-family);
	font-size: 16px;
	margin-top: 20px;
}

.normal-text{
	font-weight: bold;
	font-size: 30px;
}

.page-titles{
	color: var(--text-color);
	font-family: var(--font-family);
}

.column-selector,
.radio-inputs,
.list-button,
.save-button,
.cancel-button
{
	margin-top: 20px;
	font-family: var(--font-family);
}

.radio-inputs{
	display: flex;
	gap: 30px;
	justify-content: center;
}

.main-title-div {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    position: relative;
}

.list-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.search-div {
    position: absolute;
    right: 20px;
    top: 0%; 
    text-align: center;
}

.list-button,
.save-button,
.cancel-button
{
	color: var(--text-color);
	width: 90px;
	padding: 3px 0px;
	border: 1px solid;
	border-color: var(--text-color);
	border-radius: 25px;
	background-color: rgba(0, 255, 255, 0.50);
	font-size: 16px;
	cursor: pointer;
	transition: 0.5s ease;
}

.list-button:hover,
.save-button:hover,
.cancel-button:hover{
	background-color: rgba(0, 255, 255, 0.25);
}

.cancel-button{
	text-decoration: none;
	padding: 3px 16px;
}

.save-button{
	margin-right: 20px;
}

.search-button{
	margin-left: 10px;
	margin-top: 0;
}

#action-buttons{
	display: flex;
	justify-content: center;
	gap: 20px;
}

table, th, td{
	border: 3px dashed rgb(42, 102, 102);
	border-collapse: collapse;
}

table{
	font-family: var(--font-family);
	width: 100%;
	margin-top: 40px;
}

.name-column{
	width: 70%;
}

th{
	color:rgb(10, 77, 77);
}

td{
	color: var(--text-color);
}

tr{
	height: 35px;
	pointer-events: none;
	transition: 0.5s ease;
}

tr:nth-child(even){
	background-color: rgba(0, 255, 255, 0.15);
}

tr:hover{
	background-color: rgba(0, 255, 255, 1);
}

.th-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5px;
	height: 40px;
	box-sizing: border-box;
}

.th-name{
	text-align: center;
	flex: 1;
}

.arrows{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
}

.arrow-button{
	pointer-events: auto;
	cursor: pointer;
	background-color: transparent;
    border: none;
    color: rgb(10, 77, 77);
}

tr:has(.th-content):hover{
	background-color: transparent;
}

.search-form{
	font-family: var(--font-family);
	text-align: center;
}

.search-form input[type="number"],
.search-form input[type="text"]{
	text-align: center;
	border: 2px solid grey;
	border-radius: 5px;
	width: 175px;
	height: 20px;
}

.form-top-margin{
	margin-top: 30px;
}

.product-registered-message{
	font-family: var(--font-family);
	color: var(--text-color);
	text-align: center;
	margin-top: 40px;
}

.edict-button{
	color: var(--text-color);
	width: 60px;
	padding: 2px 0px;
	border: 1px solid;
	border-color: var(--text-color);
	border-radius: 25px;
	background-color: rgba(0, 255, 255, 0.50);
	font-size: 12px;
	cursor: pointer;
	transition: 0.5s ease;
	pointer-events: auto;
}

.edict-button:hover{
	background-color: white;
}

.error-div{
	text-align: center;
}

.error-titles{
	font-family: var(--font-family);
	color: var(--text-color);
	font-size: 48px;
	margin-top: 100px;
}

.error-message{
	font-family: var(--font-family);
	color: black;
	font-size: 22px;
	margin-top: 60px;
}


/* ---- footer ---- */

footer{
	font-family: var(--font-family);
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}

footer a{
	color: var(--text-color);
	font-size: 12px;
	text-decoration: none;
}


